# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
package-lock.json
build/*
!build/icon.icns
!build/icon.ico
!build/icon.png
!build/icons/
build/icons/*
!build/icons/16x16.png
!build/icons/32x32.png
!build/icons/48x48.png
!build/icons/64x64.png
!build/icons/128x128.png
!build/icons/256x256.png
!build/icons/512x512.png
!build/icons/1024x1024.png
dist
dist-ssr
dev-dist
release
.release-runtime
*.local
.env
playwright-report
test-results
.playwright

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel

/hypertuna-desktop-2/*
